################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SampleDemoWithoutIdentity/.vs
/SampleDemoWithoutIdentity/SampleDemoWithoutIdentity/bin/Debug/net8.0
/SampleDemoWithoutIdentity/SampleDemoWithoutIdentity/obj
*.json
/SampleDemoWithoutIdentity/DemoApi/bin/Debug/net8.0
/SampleDemoWithoutIdentity/DemoApi/obj
